[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-google-genai = "*"
langchain-openai = "*"
langchain-core = "*"
streamlit = "*"
sentence-transformers = "*"
langchain-chroma = "*"
psycopg2 = "*"
sse-starlette = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
